header.header
	div(class=`${containerHeader}`)
		.header__row
			.header__row-left
				- var SocialItems = [['', 'https://vk.com/spureful', 'vk'],['', 'https://github.com/spureful', 'github'],['','#', 'in']]
					+socials(SocialItems)
			.header__row-right
				button(type='button').hamburgermenu.js__hamburgermenu
					.hamburgermenu__item
			
		div(class=`${headerMainBg}`)
			.header__img
				+image('welcome/avatar.jpg', 'Аватар', 'header__ava')
			div(class=`${headerContentClass}`)
				h2(class=`${headerTitleClass}`) #{headerTitle}
				div(class=`${headerTextClass}`) #{headerText}
		block arrow